<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>
<h3>Games You Own</h3>
<ul>
	<% @games_created.each do |game| %>
		<li><%= link_to "#{game.name} (status: #{game.game_status})", game_path(game) %></li>
	<% end %> 
</ul>

<h3>Games You are a member of</h3>
<ul>
	<% @player.games.each do |game| %>
		<li><%= link_to "#{game.name} (status: #{game.game_status})", game_path(game) %></li>
	<% end %> 
</ul>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
