<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cardType %><br>
    <%= f.text_field :cardType %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :numAnswers %><br>
    <%= f.text_field :numAnswers %>
  </div>
  <div class="field">
    <%= f.label :expansion %><br>
    <%= f.text_field :expansion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
