<h1>Listing cards</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Text</th>
      <th>Num answers</th>
      <th>Expansion</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<%= will_paginate @properties, renderer: BootstrapPagination::Rails %>
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.cardType %></td>
        <td><%= card.text %></td>
        <td><%= card.numAnswers %></td>
        <td><%= card.expansion %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @properties, renderer: BootstrapPagination::Rails %>
<%= link_to 'New Card', new_card_path %>
