<!DOCTYPE html>
<html>
<head>
  <title>CardsGame</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<h1>Jeff's Cards Against Humanity</h1>
    <% if @auth_player %>
      <%= link_to "logout", logout_path, class: "btn btn-danger pull-right", method: :delete %>
    <% end %>
    <% if @auth_player %>
      <h4>Welcome, <%= @auth_player.name %></h4>
      
		<% end %>
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>
		<%= yield %>

	</div>

</body>
</html>
